<html>
<head>
	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="all" charset="utf-8">
</head>
<body>
	<div class="form-wrapper form-1">
		<span class="title">github commit finder</span>
		<hr/>
		<form action="/commits" method="GET">
			<div class="form-group">
				<label for="username">github username</label>
				<input type="text" class="form-control" name="user" id="username" placeholder="Enter username">
			</div>
			<div class="form-group">
				<label for="repo">repository</label>
				<input type="text" class="form-control" name="repo" id="repo" placeholder="Enter repository name">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<div class="form-wrapper">
		<span class="title">filter results</span>
		<hr/>
		<form action="/filter" method="GET">
			<div class="form-group filter-form left">
				<label for="sha">sha hash</label>
				<input type="text" class="form-control" name="sha" id="sha" placeholder="">
			</div>
			<div class="form-group filter-form">
				<label for="author">author</label>
				<input type="text" class="form-control" name="author" id="author" placeholder="">
			</div>
			<div class="form-group filter-form left">
				<label for="email">email</label>
				<input type="text" class="form-control" name="email" id="email" placeholder="">
			</div>
			<div class="form-group filter-form">
				<label for="date">date</label>
				<input type="text" class="form-control" name="date" id="date" placeholder="">
			</div>
			<div class="form-group">
				<label for="message">message</label>
				<input type="text" class="form-control" name="message" id="message" placeholder="">
			</div>
			<label for="select" id="sort-label">sort by</label>
			<select class="form-control custom-select left" name="select">
				<option value="sortDate">Date</option>
				<option value="sortAuthor">Author</option>
				<option value="sortEmail">Email</option>
				<option value="sortMessage">Message</option>
			</select>
			<select class="form-control custom-select" name="direct">
				<option value="desc">Descending</option>
				<option value="asc">Ascending</option>
			</select>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
		<div class="result">
			<div class="status left">
				<span class="status-label">status:</span>
				<span class="status-text">{{ status }}</span>
			</div>
			<div class="commits">
				<span class="status-label">total commits found:</span>
				<span class="status-text">{{ found }}</span>
			</div>
		</div>
	<div class="entries-wrapper">
		{{#each commitFeed as |entry|}}
		<div class="entry">
			<div class="entry-item entry-author"><span class="entry-label">author</span><p class="entry-text">{{entry.author}}</p></div>
			<div class="entry-item entry-date"><span class="entry-label">date</span><p class="entry-text">{{entry.date}}</p></div>
			<div class="entry-item entry-email"><span class="entry-label">email</span><p class="entry-text">{{entry.email}}</p></div>
			<div class="entry-item entry-comment"><span class="entry-label">comment count</span><p class="entry-text">{{entry.count}}</p></div>
			<div class="entry-item entry-message"><span class="entry-label">message</span><p class="entry-text">{{entry.message}}</p></div>
			<div class="entry-item entry-sha"><span class="entry-label">sha</span><p class="entry-text">{{entry.sha}}</p></div>
			<a href="{{entry.url}}" class="entry-item entry-data"><span class="entry-label">view user data</span></a>
			<a href="{{entry.html}}" class="entry-item entry-commit"><span class="entry-label">view github commit</span></a>
		</div>
		{{/each}}
	</div>
</body>
</html>